body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#root{
    width: 700px;
    padding: 20px 10;
    background-color: rgb(218,198,172);
    text-align: center;
}
.second{
    font-size: 20px;
}