/* color change by rgb with alpha*/
h1{
    color: rgba(217, 204, 58,0.5);
}


/* color change by Hexadecimal value with alpha*/
h2{
    color:#4aa128ff;
}


/* color cahnge by hsl  with alpha*/
h3{
    color: hsla(62, 92%, 47%, 0.3);
}


/* background image */
body{
    background-image: url(./west-bengal-famous-for.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


/* css fonts */
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
/* use em */
h2{
    font-size:3em;
}
/* use rem */
h3{
    font-size: 2rem;
}
/* use % */
p{
    font-size: 120%;
}